@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Press+Start+2P&family=Tektur&display=swap");

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Noto Sans", sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.score-container .score {
  flex: 1 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player.score {
  color: rgb(64, 127, 127);
}

.computer.score {
  color: rgb(212, 106, 106);
}

.score > p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.score-count {
  font-family: "Tektur", cursive;
  /* font-family: "VT323", monospace; */
  font-size: 128px;
}

.choices-group {
  display: flex;
  gap: 2rem;
  text-align: center;
}

.choices-group .group {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.group:hover {
  transform: scale(1.1);
  font-weight: 800;
}

#resultsContainer {
  font-family: "Tektur", cursive;
  font-size: 1.2rem;
  text-align: center;
}

.game-result {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
}

.winner {
  color: green;
}

.loser {
  color: red;
}
